.container {
  margin-top: 20px;
  width: 600px;
  height: 740px;
  background-color:rgb(197, 207, 211);
  justify-content: center;
  text-align: center;
  align-items: center;
}

h1 {
  text-align: center;
}

form {
  text-align: left;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
