.row
{
    width:100%;
    height:60px;
    background-color:lightblue;
}
ul{
    display:flex;
    justify-content:left;
}
a{
    text-decoration:none;
    color:black;
    font-size:30px;
   justify-content: space-evenly;
   padding:45px;
   text-emphasis-style: initial;

}

button{
    display:flex;
    margin-left:auto;
}
.active{
    color:blue;


}
a:hover{
    color:red;
}
ul li
{
    list-style-type: none;
    margin-top:auto
}




